/uv.lock
/.python-version

# Reserved for local testing
/etc/user.env

# Reserved for local automation (across the whole repository)
Makefile

# Reserved for local Google Antigravity experiments
#
# .agents/
#    rules/
#    workflows/
#      ...
#    skills/
#      ...
#
# - https://antigravity.google/docs/rules-workflows
# - https://antigravity.google/docs/skills
/.agents
!/.agents/skills/
!/.agents/skills/antigravity-tips/
!/.agents/skills/antigravity-tips/SKILL.md
